* {
    margin: 0;
}

body {
    background-image: url(../img/GP23.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: rgb(182, 182, 182, 0.5);
}

.logoSize {
    width: 10%;
}

.colorRed {
    color: rgb(183, 39, 26);
    font-size: 3vh;
    margin-bottom: -2%;
}

.pilotes {
    width: 40%;
    text-align: center;
    background-image: url(../img/ValeRossi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 10%;
}

.ecuries {
    width: 40%;
    text-align: center;
    background-image: url(../img/GASGAS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 2%;
}

.circuits {
    width: 40%;
    text-align: center;
    background-image: url(../img/Cicuit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 5%;
}

.stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.mb-4 {
    margin-bottom: 4%;
}

.colorBlack {
    color: black;
}

.colorwhite {
    color: white;
}

.cssBtn {
    background-color: rgb(183, 39, 26);
    color: #fff;
    text-decoration: none;
    padding: 2% 5%;
    border-radius: 10px;
}

.size4vh {
    font-size: 4vh;
}

.size3vh {
    font-size: 3vh;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.bienvenue{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.heure{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

@media only screen and (max-width:829px){
    .bienvenue{
        display: flex;
        flex-direction: column;
        gap: 1px;
    } 
    .date{
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .heure{
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .categories{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .pito{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;
        margin-bottom: 5%;
        width: 80%;
    }

    .pilotes{
        width: 60%;
    }

    .ecuries{
        width: 60%;
    }

    .circuits{
        width: 40%;
    }
    .site {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-top: 15%;
    }
}

@media only screen and (max-width: 600px) {
    .categories{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pito{
        display: flex;
        flex-direction: column;
    }

    .pilotes{
        width: 60%;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .ecuries{
        width: 60%;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .circuits{
        width: 50%;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .site {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-top: 20%;
    }
}
