* {
    margin: 0;
}

/* image en arrière plan */
body {
    background-image: url(../img/GP23.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* bandeau d'information */
.bandeau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: rgb(182, 182, 182, 0.5);
}

/* Disposition de la partie de bienvenue */
.bienvenue{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* disposition du nom et prenom dans la partie de bienvenue */
.NomPrenom{
    display: flex;
    align-items: center;
    color: red;
    font-size: 3vh;
    margin-top: 15px;
}

/* Disposition de la partie date du jour */
.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* disposition de la date du jour dans la partie date du jour */
.dateJ{
    font-size: 4vh;
    margin-top: 15px;
}

/* Disposition de la partie heure de connexion */
.heure{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Disposition de l'heure dans la partie heure de connexion */
.heureCo{
    font-size: 4vh;
}

/* fin du bandeau */

/* Mise en forme des 3 catégories de sujet */
.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

/* Mise en forme de l'onglet de la catégories pilotes */
.pilotes {
    background-color: rgb(182, 182, 182, 0.5);
    width: 30%;
    border: solid 1px rgb(182, 182, 182, 0.5);
    border-radius: 0% 50%;
    text-align: center;
    color: #fff;
    padding: 5%;
    padding-top: 12.8%;
}

/* Mise en forme de l'onglet de la catégories écuries */
.ecuries {
    background-color: rgb(182, 182, 182, 0.5);
    border: solid 1px rgb(182, 182, 182, 0.5);
    border-radius: 50% 0%;
    width: 30%;
    text-align: center;
    color: #fff;
    padding: 5%;
}

/* Mise en forme de l'onglet de la catégories circuits */
.circuits {
    background-color: rgb(182, 182, 182, 0.5);
    border: solid 1px rgb(182, 182, 182, 0.5);
    border-radius: 0% 50%;
    width: 30%;
    text-align: center;
    color: #fff;
    padding: 5%;
}

.size4vh {
    font-size: 4vh;
}

.size3vh {
    font-size: 3vh;
}

.mb-4 {
    margin-bottom: 4%;
}

.colorBlack {
    color: black;
}

.cssBtn {
    background-color: rgb(183, 39, 26);
    color: #fff;
    text-decoration: none;
    padding: 2% 5%;
    border-radius: 10px;
}


.logoSize {
    width: 10%;
}

.colorRed {
    color: rgb(183, 39, 26);
    font-size: 3vh;
    margin-bottom: -2%;
}





.colorwhite {
    color: white;
}








@media only screen and (max-width:829px){
    .bienvenue{
        display: flex;
        flex-direction: column;
        gap: 1px;
    } 
    .date{
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .heure{
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .categories{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .pito{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;
        margin-bottom: 5%;
        width: 80%;
    }

    .pilotes{
        width: 60%;
    }

    .ecuries{
        width: 60%;
    }

    .circuits{
        width: 40%;
    }
    .site {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-top: 15%;
    }
}

@media only screen and (max-width: 600px) {
    .categories{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pito{
        display: flex;
        flex-direction: column;
    }

    .pilotes{
        width: 60%;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .ecuries{
        width: 60%;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .circuits{
        width: 50%;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .site {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-top: 20%;
    }
}
