:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/Vale.jpg.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    margin-top: 1%;
    color: #fff;
    font-size: 3em;
}

main{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

}

.flex{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.size{
    width: 100%;
}

label{
    display: flex;
    text-align: center;
}

.color{
    color: black;
}

.container {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 600px;
}

.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 5px;
}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}

.form-field small {
    color: var(--error-color);
}



/* button */
.test{
    display: flex;
    justify-content: center;
}

.btn {
    padding: 3% 5%;
    background: rgb(183, 39, 26);
    border-bottom: 2px solid rgb(183, 39, 26);
    border-radius: 15px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background: #fff;
    color: rgb(183, 39, 26);
    border: 1px solid red;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

@media only screen and (max-width:700px){
    .container{
        width: 400px;
    }
}