/* button retour à l'acceuil */
nav {
    margin-top: 1%;
    display: flex;
    justify-content: end;
    margin-bottom: 2%;
}

.btnRetourAccueil {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 1em;
    margin-right: 3%;
    background-color: #B7271A;
    margin: 0;
    color: #fff;
}
/* button retour à l'acceuil */

/* Tableau ajout de sujet */
.table1 {
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 2%;
}

.table1,
.th1,
.td1 {
    border-bottom: 1px solid black;
    text-align: center;
}

tr{
    border-bottom: solid 1px black;
}

.th1,
.td1{
    padding: 8px;
}

/* Tableau ajout de sujet */

/* disposition des buttons et de l'emplacement ajout sujet */
.flex {
    display: flex;
    flex-direction: column;
}

.flex2 {
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
    margin-bottom: 2%;
}

.btnAjouterUnSujet {
    width: 10%;
    background-color: #B7271A;
    border: none;
    border-radius: 10px;
    padding: 10px 5px;
    margin-bottom: 1%;
    color: white;
    margin-left: 13%;
}

.zoneText{
    width: 60%;
}

.btnAjouter{
    background-color: #B7271A;
    border: none;
    border-radius: 10px; 
    color: white;
    padding: 10px;
}
/* disposition des buttons et de l'emplacement ajout sujet */

/* cache de la zone ajouter */
.zoneAjouter{
    display: none;
}
/* cache de la zone ajouter */

/* afficher zone ajouter apres click button ajouter sujet */
.zoneAjouterAfficher{
    display: block;
    margin-left: 25%;

}
/* afficher zone ajouter apres click button ajouter sujet */

/* classement pilote */

/* classement pilote */
/* tête du tableau classement */
.btnClassement {
    background: none;
    border: none;
    color: white;
}

.buttonClassement {
    display: flex;
    flex-direction: row;
    background-color: #B7271A;
    border: solid #B7271A;
    border-radius: 10px 10px 0px 0px;
    color: white;
    width: 74.5%;
    padding: 1px;
    gap: 10px;
    justify-content: center;
    font-size: 3vh;
}
/* tête du tableau classement */

/* Tableau classement pilote */
.table2 {
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 2%;
}

.cacheTableau{
    display: none;
}

.table2,
.th2,
.td2 {
    border: 1px solid black;
}

.th2,
.td2 {
    padding: 8px;
    text-align: center;
}

.imgCircuits{
    width: 50%;
}
/* Tableau classement pilote */

/* afficher le tableau classement */
.afficheTableau{
    display: block;
}
/* media query  */
@media only screen and (max-width:1000px) {
    .btnAjouterUnSujet {
        width: 20%;
    }
}

@media only screen and (max-width:768px) {
    .btnAjouterUnSujet {
        width: 20%;
    }
}

@media only screen and (max-width:600px) {
    .btnAjouterUnSujet {
        width: 20%;
    }
    /* tableau classement */
    .cacheMediaQuery{
        display: none;
    }
}