@font-face {
    font-family: 'MotoGP';
    src: local('MotoGP Italic'), local('MotoGP-Italic'),
        url('MotoGPText-Italic.woff2') format('woff2'),
        url('MotoGPText-Italic.woff') format('woff'),
        url('MotoGPText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }